* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

#milkshake {
    width: 400px;
    height: auto;
}

.ingredients {
    border-width: 2px;
    border-color: red;
    border-style: dotted;
    padding: 5px;
}